* {
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
    color: #444444;
    font-family: "Trebuchet MS", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a:link {
    color: #996666;
    text-decoration: none;
}

a:hover {
    color: #330000;
    text-decoration: underline;
}

#page {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 960px;
}

#content {
    display: flex;
    align-items: stretch;
}

header {
    background-color: #996666;
    background-image: url('ressources/header.gif');
    background-repeat: no-repeat;
    background-position: 0px 100%;
    height: 192px;
    position: relative;
}

header p {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    padding: 40px 450px 0 0;
    text-align: center;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 125px;
    top: 49px;
}

header li {
    display: inline-block;
    margin-left: 20px;
}

header li a {
    color: #ffffff !important;
    font-size: 0.9em;
    text-transform: uppercase;
}

aside {
    border-right: 1px solid rgba(100, 100, 100, 0.2);
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.1);
    color: #555555;
    flex-shrink: 0;
    order: -1;
    padding: 40px 20px 0 20px;
    text-align: left;
    width: 193px;
}

aside h3 {
    color: #663333;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

aside p {
    font-size: 0.85em;
    line-height: 1.6;
    margin: 0 0 20px 0;
}

section {
    flex: 1;
    margin-right: 20px;
    padding: 40px;
}

h1 {
    border-bottom: 1px solid #dddddd;
    color: #663333;
    font-size: 1.8em;
    font-weight: bold;
    margin: 0 0 20px 0;
    padding-bottom: 20px;
    padding-left: 192px;
}

h2 {
    background: url('ressources/h2_ornament.gif') no-repeat bottom left;
    color: #999999;
    font-size: 1.1em;
    font-weight: normal;
    letter-spacing: 2px;
    padding: 10px 0 20px 192px;
    text-transform: uppercase;
}

section p {
    padding-left: 192px;
}

section p a {
    text-decoration: underline;
}

section img {
    border: 6px solid #ffffff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    float: left;
    margin-bottom: 10px;
    margin-right: 25px;
}

footer {
    background: #333333 url('ressources/footer.gif') no-repeat top left;
    height: 192px;
    margin-top: 0;
    position: relative;
}

footer p {
    bottom: 20px;
    color: #999999;
    font-size: 0.75em;
    left: 40px;
    margin: 0;
    position: absolute;
}

footer a {
    color: #cc9999;
}